@charset "UTF-8";
/*Paleta de cores
Verde: #49a09d
Lilas: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing:  border-box;

}
body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vw;
    width: 100vw;

}

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, height .3s ;
    transition-timing-function: ease;
}
div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;

}
div#formulario{
    display: block;
    padding: 10px;

}
div.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
label{
    display: none;
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #375c5b;
}

a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #345554;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}
a.botao:hover{
    background-color: #49a09d;
}
i{
    font-size: 0.8em;
}